html {
    background-image: url("background_03.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
body {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    color: white;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
#page-container {
    position: relative;
    min-height: 100%;
}
#main {
    padding-bottom: 60px;
}
header {
    background: black;
    grid-row: 1;
    top: 0px;
    width: 100%;
    height: 100px;
    position: absolute;
    font-size: 1.1em;
    box-shadow: 0px 0 5px 15px black;
    z-index: 100;
    padding-bottom: 10px;
}
footer {
    grid-row: 3;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
    margin: 0 auto;
    background-color: black;
    box-shadow: 0 0 5px 15px black;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
li {
    display: inline-block;
    font-weight: bold;
}
a:link {
    color:orange;
    text-decoration: underline dashed gray;
}
a:visited {
    color: green;
    text-decoration: underline dashed gray;
}
a:hover {
    color: red;
}
#mainpage {
    display: grid;
    grid-row: 2;
    grid-template-columns: 10% 25% 30% 25% 10%;
    grid-template-rows: 30% 40% 15% 40%;
    font-size: 1.25em;
}
img {
    max-width: 100%;
    height: auto/2;
}
iframe {
    width: 100%;
    height: 100%;
}
#profileImg {
    grid-column: 2;
    grid-row: 2;
}
#video {
    grid-column: 4;
    grid-row: 2;
}
#bio {
    grid-column: 3;
    grid-row: 4;
}
.secondHeader {
    height: 100px;
    padding-top: 25px;
}
.carousel {
    display: grid;
    grid-row: 2;
    height: calc(100vh - 170px);
    margin-top: 110px;
}
.carousel-inner, .carousel-item, .carousel-item-active {
    height: 100%;
}
.carousel-caption {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 1.25em;
    transform: translateY(-20%);
}

/* .scroll {
    grid-row: 2;
}
.PacProj, .EyeProj, .BusProj {
    padding-bottom: 80px;
} */